<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  colors="true"
>
  <php>
    <ini name="error_reporting" value="-1" />
  </php>
  <testsuite name="EzPlatformCoreBundle">
    <directory>tests/EzPlatformCoreBundle/bundle</directory>
  </testsuite>
</phpunit>
