<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  colors="true"
>
  <php>
    <ini name="error_reporting" value="-1" />
  </php>
  <testsuites>
    <testsuite name="EzPlatformCoreBundle">
      <directory>tests/EzPlatformCoreBundle/bundle</directory>
    </testsuite>
    <testsuite name="EzPlatformTemplatingBundle">
      <directory>tests/EzPlatformTemplatingBundle/bundle</directory>
      <directory>tests/EzPlatformTemplatingBundle/lib</directory>
    </testsuite>
  </testsuites>
</phpunit>
